.grid-wrapper {
  border: 1px solid seagreen;
  height: calc(100% - 70px);
}
.tree-wrapper {
  border: 1px solid red;
  overflow-y: auto;
  height: 100%;
}
.-depth {
  border: 1px solid blue;
  /* padding-left: 20px; */
}
.-label {
  color: blue;
  border: 1px solid salmon;
}
.-value {
  border: 1px solid blue;
}
.-toggle-icon {
  border: 1px solid red;
  cursor: pointer;
}